/node_modules
/public/360travel
/public/storage
!/storage
/storage/*
!/storage/app
/storage/app/*
!/storage/app/public
/storage/app/public/*
!/storage/app/public/randj
!/storage/app/public/ronly
/vendor
/.idea
Homestead.json
Homestead.yaml
.env