@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto:100,400');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

@font-face {
    font-family: PermanentMarker;
    src: url('/fonts/PermanentMarker.ttf');
}

@font-face {
    font-family: KaushanScript-Regular;
    src: url('/fonts/KaushanScript-Regular.ttf');
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #313131;
    padding-top: 70px;
    max-width: 100%;
    overflow-x: hidden;

}

html {
    font-size: 14px;
    max-width: 100%;
    overflow-x: hidden;
}

.main{
    max-width: 90%;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 16px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 28px;
    }
}

h1 {
    color: #e25333;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.center {
    text-align: center;
}

a{
    color: #e25333;
}

a:hover{
    color: #555;
    text-decoration: none;
}

p{
    font-size: 16.5px;
    line-height: 1.2;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #e25333;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.button-menu {
    margin-top:2px;
    float:right;
    margin-right: 8px;
}

header {
    padding-bottom: 40px !important;
    text-align: left !important;
}

header .logo {
    /*width:470px;*/
    padding-left: 30px;
    max-width: 15% !important;
}

header h1, header h4 {
    text-align: left !important;
    margin-top: 0;
    margin-bottom: 0;
}

.tablerow{
    border-top: solid;
    border-width: 1px;
}


.help-block-splash{
    margin: 0 auto;
    color: #e25333;
    text-align: center;
    max-width: 80%;
}
/*nav*/

/*navbar {
    position: fixed;
    }*/
    .navbar-default {
        background-color:white;
    }

    .navbar-brand>img {
      height: 100%;
      width: auto;
      padding-bottom: 3px;
      display: inline;
  }
  .navbar-brand span{
    color: #e25333;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e25333;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #777;
}

.nav-active {
    background-color: #e25333 !important;
    color:white !important;
}

.header-logo {
    max-height: 42px;
    margin-top: -10px;
}
ul #login-dp  {
    min-width: 350px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

ul #login-dp .help-block{
    font-size:12px    
}
ul #login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
ul #login-dp .social-buttons{
    margin:12px 0    
}
ul #login-dp .social-buttons a{
    width: 49%;
}
ul #login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.social-buttons-login{
    margin: 0 auto;
    width: 300px;
    padding: 10px 0 20px 0;
}

.badge {
    background-color: #8ac926;
}

.navbar-right .button-menu>a {
    color:white !important;
}

.navbar-right .button-menu>a:hover {
    background: #33a6cc !important;
}

.icon-size img{
    width:25px;
    margin: 0 15px;
    cursor: pointer;
    display: inline-block;
    float: right;
}

.icon-size-360 {
    width:50px;
}

@media(max-width:768px){
    ul #login-dp{
        background-color: inherit;
        color: #fff;
    }
    ul #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*end of nav*/

/*home page - splash*/

.privacy {
    width:75px;
    float: right;
}

#home{
    /*padding-top: 50px;*/
}

.splash-text {
    padding-top: 50%;
}

.logo {
    width: 390px;
    margin: 0 auto 0 auto;
}

.logo img {
    height: 125px !important;
    padding-bottom: 20px;
}

.security {
    width: 130px;
    margin: 0 auto;
    text-align: center;
}
.paypal-logo {
    display: inline-block;
}

.encrypt{
    width:24px;
    display: inline-block;
 }

.splash-text h1{
    font-family: 'PermanentMarker', cursive;
    color: #484848;
    font-weight: 200;
    font-size: 25px;
    text-align: left;
    text-align: center;
}

    /*down arrow*/

.arrow {
    bottom: 10px;
    right: 50%;
    position: fixed;
}

.arrow a {
    color: #e25333;
}

.fa-arrow-down {
    background-color: rgba(255, 0, 0, 0); !important;
}


.bounce {
    -moz-animation: bounce 2s 3;
    -webkit-animation: bounce 2s 3;
    animation: bounce 2s 3;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


/*end of down arrow*/


.full-height {
    min-height: 100vh;
    padding: 20px 0;
}

.full-height-orange {
    min-height: 100vh;
    background-color: #e25333;
    color: white;
    padding: 15px;
}

.how-work, .our-work, .pricing, .contact, .results {
    padding-top: 5px;
}

/*splash container*/

.uglyman {
    margin-top: 80px; 
    width: 50%;
    float: right;
}

.amazon-continer{
    min-height: 150px;
}
.amazon-product{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    margin: 5px -12px 0 -12px;
}

.splash-fullscreen{
    position: static;
    top:10px
    right 10px;
    z-index: 1000;
}

.amazon-item {
    border-style: solid;
    border-width: 1px;
    border-color: #DDD;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 13px;
    line-height: 19px;
    padding: 25px;  
}

.left{
    float:left !important;
}

.amazon-price {
    margin-bottom: 6px!important;
    line-height: 1!important;
    font-size: 21px!important;
    text-rendering: optimizeLegibility;
}

.amazon-description {

    color: #0066c0!important;
    margin-bottom: 6px!important;
}
.amazon-review {
    cursor: pointer;
    color: #c45500;
}

.gold {
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c45500;
    font-size: 18px;
    margin-right: 2px;
}
.gold-empty {
    color: #c45500;
    font-size: 18px;
    margin-right: 2px;
}

.spin{
    cursor: pointer;
    margin: 0 auto;
    width: 250px;
}

.spin-text{
    max-width: 100%;
    margin: 15px 10px;
    display: inline-block;
    vertical-align: top;
}

.spin-icon {
    width:50px;
    display: inline-block;
}

/*our-work container*/

.our-work{
    background-color: #DDD;
}

.thumbs-container {
    padding: 0;
    margin: 5px -12px 0 -12px;
}


.thumbs-container a img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbs {
    min-height: 178px !important;
}

.modal-spin {
    max-width: 100%;
    /*max-height: 50%;*/
}

.loader p, .loader-splash p{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.spritespin-canvas {
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
}

.loader {
    z-index: 1000;
    width: 100px;
    position: absolute;
    top: 25%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.loader-splash{
    z-index: 1000;
    width: 100px;
    position: relative;
    margin-top: 48%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.spinner {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.thumbs-container a:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    /*margin: 15px;*/
    background-image: url('../images/overlay.png');
    background-size: contain;
    background-position: center;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.thumbs-container a:hover:after {
    opacity: 1;
}

.our-work button {
    margin-bottom: 20px;
}

.big-flowers {
    margin: 0 auto;
}

.big-flowers-img img{
    height:180px;
    width: 120px;
    margin: 0 auto;
}

.amazon-product .no-top-margin {
    padding-top: 0 !important;
}

/*get-results container*/

.get-results {
    background-color: #f4f0ef;
    padding-bottom: 85px;
    margin-left: -15px;
    margin-right: -15px;
}

.get-results-left img {
    display: block;
    margin: 0 auto;
}

.get-results-text {
    max-width: 315px;
}

.get-results a {
    text-align: center;
    margin-top: 20px;
}

.get-results-padding {
    padding-top: 12%;
    max-width: 420px;
    margin: 0 auto;
}

.get-results-padding h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-padding {
    margin-top: 15px;
}

.get-results-btn {
    text-align: center;
}


/*how it works*/

.how-work h1 {}

.how-work h5 {
    text-align: center;

}

.how-work p {
    text-align: center;
    padding-bottom: 10px;
}

.icons {

    text-align: center;
    cursor: pointer;
}

.icons a {
    color: #313131;
    text-decoration: none;
}

.popover {
    width: 300px;
}

.popover-title {
    color: #e15233;
}

.popover .arrow {
    bottom: -33px !important;
}


/*pricing*/

.pricing {
    background-color: #E0AC3A;
}

.pricing h2 {
    font-family: 'Roboto', 'Open Sans';
    font-weight: 400;
}

.pricing-img {
    padding-left: 60px;
    padding-right: 60px;
}

.one-product .pricing-img, .two-products {
    margin-top: 40px;
}

.pricing .btn {
    background-color: #76bed0;   
}

.one-product {
    margin-top: 15px !important;
    padding-top: 65px !important;

}

.one-product ul {
    margin-top: 40px !important;
}

.two-products ul{
    margin-top: 30px !important;
}

.one-product, .two-products {
    background-color: white;
    max-width: 80%;
}

.one-product, .two-products, .more-products {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    background-color: white;
    margin: 15px auto 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.more-products ul{
    margin-left: 20px !important;
    padding: 15px;
}


.more-products .full-width, .two-products .full-width{
    width: 100%;
    height: 50px;
}

.more-products h4{
    background-color: #3C3A9D;
    color: white;
    padding: 10px;
    text-align: right;
    width: 160px;
    float: right;
}

.two-products h4{
    background-color: #B42F7A;
    color: white;
    padding: 10px;
    text-align: right;
    width: 160px;
    float: right;
}

.pricing ul {
    margin-top: 12px;
    list-style-type: none;
    font-size: 16px;
    padding: 20px 0 0 30px;
    text-align: left;
}

.pricing ul li {
    margin: 5px 0;
}

.pricing ul li img {
    width:25px;
    display: inline-block;
}

.pricing ul li p {
    display: inline-block;
    padding-left: 10px;
    font-size: 14.5px;
}

.pricing-button {
    padding-top: 15px;
    text-align: center;
}


/*contact*/

.contact {
    padding-top: 80px;
}

.contact .form-control{
    color: #999 !important;
}

.contact h3 {
    text-align: center;
}

.contact select:invalid {
    color: #999 !important;
}

.contact option {
  color: #555;
}

/*fancy radio buttons*/

.contact label.btn span {
  font-size: 1.5em ;
}

.contact label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #999;    display: inline;
}
.contact label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
.contact label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
.contact label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #e25333;    display: inline;
}
.contact label:hover input[type="radio"] ~ i.fa {
    color: #e25333;
}

.contact div[data-toggle="buttons"] label.active{
    color: #e25333;
}

.contact div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid 
    #999;
    border-radius: 3px;
    color: #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.contact div[data-toggle="buttons"] label:hover {
    color: #e25333;
}

.contact div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*end of fancy radio buttons*/

/*bottom menu*/

.itemthumb {
    border: 1px;
    border-style: solid;
    border-color: #e25333;
    border-radius: 5px;
    margin: 25px 2px;
    padding: 10px;
}

.itemthumb p{
    font-size: 12px;
}

/*options*/


footer {
    text-align: center;
}

/*user - home page*/

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #e25333;
    color:white;
}
.nav-pills>li>a:hover{
    background-color: #e25333;
    color:white;
}

.nav-pills>li>a{

    color:#777;
}

.nav-pills a {
    color: #ffffff;
}

.nav-pills a:hover {
    color: white;
    border-radius: 0px;
}

.nav-pills .active a:hover {
    color: white;
    border-radius: 0px;
}

/*Process*/

.process-items{
    border-top-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
}
/*forms*/

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(197, 197, 197, 0.5);
    box-shadow: 0 1px 1px rgba(197, 197, 197, 0.5);
    border: 0;
    border-radius: 0;
    font-family: roboto;
    font-weight: 200px;
}

.panel-heading {
    background-color: white !important;
    font-family: roboto;
    font-weight: 200px;
    border-radius: 0;
    color: #e25333 !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
}

.form-group {
    color: #777;
    font-family: roboto;
}

.control-label {
    font-weight: 400;
}

.form-control {
    margin-top: 2px;
}

.collection-note {
    font-size: 13px;
    margin: 15px 15px 40px 15px;
}




/*user downloads - help page*/
pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}

.price-center{
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    h4{
        font-size: 16px;
    }

    .uglyman {
        float: none;
        margin-top: 0;
        width: 100% !important;
    }

    .paypal-logo {
        display: inline-block;
    }


    .thumbs {
        width: 100%;
        min-height: 235px !important;
    }

    .arrow {
        display: none;
    }

    .logo {
        display: none;
    }

    .splash-text {
        padding-top: 45px;
    }

    .get-results-text {
        margin: 0 auto;
        padding-top: 20px;
        font-size: 22px;
    }

    .get-results-padding h2{
        font-size: 22px;
        max-width: 315px;
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .our-work {
        padding-bottom: 15px;
    }

    .get-results-padding {
        padding-top: 37%;
    }

    .one-product, .two-products, .more-products, .pricing-button {
        text-align: center;
        text-transform: uppercase;
        padding: 5px 0;
        background-color: white;
        margin: 10px auto 0 auto;
    }

    .how-work, .our-work, .pricing, .contact, .results, .uglyman {
        padding-top: 5px;
    }

    .one-product {
        margin-top: 15px !important;
        padding-top: 15px !important;
    }

    .pricing-img {
        margin-top: 0 !important;
    }

    .pricing ul {
        padding: 0px 0 0 30px;
        
    }

    .one-product ul {
        margin-top: 20px !important;
    }

    .pricing ul {
        padding: 0px 0 0 60px;
    }

    .more-products ul {
        padding: 0px 0 0 75px;
    }
}

@media screen and (min-width: 768px) and (max-width: 988px) {
    h4{
        font-size: 16px;
    }
    .thumbs {
        width: 100%;
        min-height: 235px !important;
    }

    .arrow {
        display: none;
    }

    .logo {
        display: none;
    }

    .get-results-text {
        margin: 0 auto;
        padding-top: 20px;
        font-size: 22px;
    }

    .uglyman {
        float: none;
        width: 100% !important;
    }


}
@media screen and (max-width: 988px) {

    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }

    .navbar-brand {
        padding: 15px 5px;
    }


    h1{
        font-size: 18px;
    }

    h2{
        font-size: 15px;
    }

    h4{
        font-size: 14px;
    }

    .splash-text {
        text-align: center;
        padding-top: 0;
        width: 100%;
    }

    .splash-text h1{
        margin: 0;
        padding:0;
        font-size: 30px;
        font-family: 'PermanentMarker', cursive;
        text-align: center;
        padding-bottom: 20px;
    }

    footer li a{
        font-size: 10px;

    }

    .logo {
        margin: 0px auto 20px auto;
        width: 125px;
    }


    .logo img {
        margin: 0 auto;
        height: 70px !important;
        padding-bottom: 20px;
    }

    .splash-container{
        margin: 0 auto;
        width: 85%;
    }

    .arrow {

    }


    .contact{
        padding-top: 0;
    }
    .dropdown-menu{
        display: block;
        position: static;
        background-color:transparent;
        border:0 none;
        box-shadow:none;
        margin-top:0;
    }
    .icon-size img{
        width:20px;
        margin: 0px 8px;
    }

    .spin {
        margin-top: -15px;
    }

    .icon-size-360 {
        width:50px;
    }

    .spin-logo{
        max-width: 20%;
        width:40px;
    }

    .myform2 {
        margin-top: 3px; 
    }

    /*our work*/
    .thumbs-container {
        padding: 0 3px 3px 3px;
        margin: 0px;

    }
    .amazon-product {
        margin: 0 4px 4px 4px;
    }
    
    .amazon-header {
        max-width: 300px;
        margin: 0 auto;
        float: none;
        max-height: 70%;
    }

    .amazon-item {
        width: auto;
        float:none;
    }

    .amazon-price {
        font-size: 15px !important;
    }

    .amazon-description{
        font-size: 12.5px !important;
    }

    /*end of our work*/
    
    .left{
        float:none !important;
    }

    /*pricing*/
    .pricing ul li p {
        display: inline-block;
        padding-left: 5px;
        font-size: 11px
    }

    
}
@media screen and (min-width: 988px) {
    /*get-results container*/
    .get-results-left img {
        float: right;
    }
    .get-results-text {
        margin: 0 auto;
        float: left;
        text-align: left;
        font-size: 24px;
    }

    .get-results-text h4{
        margin: 0 auto;
        float: left;
        text-align: left;
    }

    .get-results-padding {
        padding-bottom: 40px;
    }

    .get-results-btn {
        padding-top: 20px;
    }

    .icon-size img{
        width:20px;
    }



}

@media screen and (min-width: 988px) and (max-width: 1920px) {

    .uglyman {
        float: right;
        width: 65% !important;
    }

}

